body{
	background-color: grey;
	height: 95vh;

}
.container{
	background-color: lightgrey;
	width: 90%;
	max-width: 1280px;
	margin-top: 2%;
	height: 95%;
	padding: 2%;
}
#home{
	width: 7%;
	position: absolute;
	margin-left:4.75%;
	margin-top:4.75%;
}
#gear{
	width: 16%;
	position: absolute;
	/*margin: 10%;*/
	/*transform: rotate(0);*/
	-webkit-animation: gearspin 3000ms infinite alternate cubic-bezier(.67,.08,.4,.91) paused;
	animation: gearspin 3000ms infinite alternate cubic-bezier(.67,.08,.4,.91) paused;
	padding: 0;
	/*.74,0,.4,.91*/
	/*.74,0,.32,1*/
	/*.67,.08,.4,.91*/
}
#gearplace{
	width: 100%;
	padding-bottom: 100%
}
#about{
margin-top: 0px;
}
@-webkit-keyframes gearspin{
	from {transform: rotate(initial);}
	to {transform: rotate(2turn);}
}
@keyframes gearspin{
	from {transform: rotate(initial);}
	to {transform: rotate(2turn);}
}
#sidebar{
	display: inline-block;
	width: 20%;
}
#buttonbox{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	height: 95%;
}
.initnav{
	/*vertical-align: top;*/
	display: block;
	padding: 0 15px;
}
button.initnav{
	margin-bottom: 5%
}
#hbar{
	background-color: black;
	width: 0;
	display: block;
	border-radius: 10px;
	margin-top: 12%;
	vertical-align:top;
	padding: 0px;
}
#hlabel{
	color: white;
	text-transform: uppercase;
	display: none;
	text-align: right;
	/*vertical-align: top;*/
	margin:0;
	font-size: 10vh;
}
#slideout{
	margin-left: 10px;
	height: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
}
iframe{
	border: 0;
	height:100%;
	 width:100%;
}